{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}

{% set serverId = app.request.get('serverId') %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_instance_index', {serverId: serverId}), 'teamspeak.instance.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    Admin token : {{ instance.adminToken }}

    <div class="form-group clearfix">
        {{ dedipanel_buttons.edit(path('dedipanel_teamspeak_instance_update', {'id': instance.id, serverId: serverId}), null, 'ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_UPDATE', instance) }}
        {{ dedipanel_buttons.delete(path('dedipanel_teamspeak_instance_delete', {'id': instance.id, serverId: serverId, 'fromMachine': true}), null, 'ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_DELETE', instance) }}
    </div>
{% endblock %}
