{% extends "::layout.html.twig" %}

{% block content %}
    <ul>
        <li><a href="{{ path('game') }}">Gestion des jeux</a></li>
        <li><a href="{{ path('machine') }}">Gestion des machines</a></li>
    </ul>
{% endblock %}