{% extends "::layout.html.twig" %}

{% block content %}
    <ul>
        <li><a href="{{ path('game_menu') }}">Serveurs de jeux</a></li>
        <li><a href="{{ path('config_menu') }}">Configuration du panel</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    </ul>
{% endblock %}