# This file is part of Dedipanel project
#
# (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

parameters:
    dedipanel.connection_manager.debug: true

services:
    dedipanel.form.machine:
        class: DP\Core\MachineBundle\Form\MachineType
        tags:
            - { name: form.type, alias: dedipanel_machine }

    dedipanel.machine.subscriber.crud:
        class: DP\Core\MachineBundle\EventListener\CRUDListener
        arguments: [ @dedipanel.key_helper, @dedipanel.connection_manager ]
        tags:
            - { name: kernel.event_subscriber }

    dedipanel.security.voter.machine_assignable_voter:
        class: DP\Core\MachineBundle\Security\MachineRelatedVoter
        arguments: [ @dedipanel.repository.group ]
        public: false
        tags:
            - { name: security.voter, priority: -255 }

    dedipanel.machine.listener.model:
        class: DP\Core\MachineBundle\EventListener\ModelListener
        arguments: [ @service_container ]
        tags:
            - { name: doctrine.event_listener, event: postLoad, method: postLoad }

    dedipanel.machine.validator.credentials:
        class: DP\Core\MachineBundle\Validator\CredentialsConstraintValidator
        arguments: [ @dedipanel.connection_manager ]
        tags:
            - { name: validator.constraint_validator, alias: "machine_credentials_validator" }

    dedipanel.machine.form.mapping:
        class: DP\Core\MachineBundle\Form\MachineEntityType
        arguments: [ @dedipanel.repository.machine, @dedipanel.resolver.user_group, @security.context ]
        tags:
            - { name: form.type, alias: dedipanel_machine_entity }
