{% extends "::layout.html.twig" %}

{% block body %}
    {% if status_code == 403 %}
        <div class="alert alert-error"><ul><li>
            Vous n'avez pas accès à cette page.
        </li></ul></div>
    {% elseif status_code == 404 %}
        <div class="alert alert-error"><ul><li>
            Cette page n'existe pas.
        </li></ul></div>
    {% elseif status_code == 405 %}
        <div class="alert alert-error"><ul><li>
            Cette action n'est pas autorisé.
        </li></ul></div>
    {% else %}
        <h1>Oups! Une erreur est survenue</h1>
        <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
    {% endif %}
{% endblock %}
