web/bundles/
web/.htaccess
app/config/parameters.yml
app/bootstrap.php.cache
app/cache/*
app/logs/*
/build/
/vendor/
/bin/
composer.phar
composer.lock
nbproject/
.htaccess
src/DP/Core/MachineBundle/Resources/config/.ssh/*
.settings
.project
.idea/
app/config/dedipanel.yml
behat.yml.dist
