web/bundles/
web/.htaccess
app/config/parameters.yml
app/bootstrap.php.cache
app/cache/*
app/logs/*
/build/
/vendor/
/bin/
composer.phar
nbproject/
.htaccess
app/config/.ssh/*
!app/config/.ssh/.htaccess
.settings
.project
.idea/
app/config/dedipanel.yml
behat.yml
app/sessions/*
!app/sessions/.gitkeep
app/SymfonyRequirements.php
app/check.php
