default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    extensions:
        Behat\MinkExtension:
            browser_name: firefox
            sessions:
                default:
                    symfony2: ~
        Behat\Symfony2Extension:
          kernel:
            env: test
            debug: false

    suites:
        installer:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\InstallerContext
            filters:
                tags: "@installer"
        user:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
                - DP\Core\CoreBundle\Behat\ResourceContext
            filters:
                tags: "@user"
        admin:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\AdminContext
                - DP\Core\CoreBundle\Behat\ResourceContext
            filters:
                tags: "@admin"
        servers:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\ServerContext
                - DP\Core\CoreBundle\Behat\ResourceContext
            filters:
                tags: "@servers"
        dashboard:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
                - DP\Core\CoreBundle\Behat\ResourceContext
            filters:
                tags: "@dashboard"
