default:
    extensions:
        Behat\MinkExtension:
            browser_name: firefox
            sessions:
                default:
                    symfony2: ~
        Behat\Symfony2Extension:
          kernel:
            env: test
            debug: false

    suites:
        installer:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\DistributionBundle\Behat\InstallerContext
            filters:
                tags: "@installer"
        users:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
            filters:
                tags: "@users"
        configs:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
            filters:
                tags: "@configs"
        games_admin:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
            filters:
                tags: "@games_admin"
        plugins_admin:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
            filters:
                tags: "@plugins_admin"
        users_admin:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DP\Core\CoreBundle\Behat\DefaultContext
            filters:
                tags: "@users_admin"
