<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./app/test_bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Dedipanel test suite">
            <directory suffix="Test.php">./src/*/*/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./Propel/map</directory>
                <directory>./Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
