{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/connexion.css') }}" />
{% endblock %}

{% block baseBody %}
    <header id="log-title">   
        <a href="{{ path('_welcome') }}">
            <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
        </a>
    </header>
    
    {% block title %}{% endblock %}
    <div id="logbox">{% block body %}{% endblock %}</div>

    <footer>
        <p>
            DediPanel - Code & Design par Von et NiR<br /> 
            
            <a href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
            <a href="http://wiki.dedicated-panel.net">wiki</a> | 
            <a href="http://forum.dedicated-panel.net">forum</a>
        </p>
    </footer>
{% endblock %}