{% extends "::base.html.twig" %}

{% block stylesheets %}
	{# <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" /> #}
    
    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/style.css') }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />
    <link rel="shortcut icon" href="{{ asset('images/footer/logo-min.png') }}" />
{% endblock %}

{% block body %}	
    <h1 id="title">{% block title %}{% endblock %}</h1>

    {% block selectVm %}{% endblock %}

    <div id="page-content">{% block content %}{% endblock %}</div>
{% endblock %}