{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" />
    {% else %}
        <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/connexion.css') }}" />
    {% endif %}
    
    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1 id="title">{% block title %}{% endblock %}</h1>

        {% block selectVm %}{% endblock %}

        {% set contentId = 'page-content' %}
    {% else %}
        {% set contentId = 'logbox' %}
    {% endif %}
        
    <div id="{{ contentId }}">{% block content %}{% endblock %}</div>
{% endblock %}