{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/dpdistribution/css/install.css') }}" />
{% endblock %}

{% block baseBody %}
     <div class="titre">
         <h1>{{ 'configurator.installer'|trans }}</h1>
     </div>
    <div id="page-content">{% block content %}{% endblock %}</div>
    
    <footer>
        <p>
            DediPanel - Code & Design par Von et NiR<br /> 
            
            <a target="_blank" href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
            <a target="_blank" href="http://wiki.dedicated-panel.net">wiki</a> | 
            <a target="_blank" href="http://forum.dedicated-panel.net">forum</a>
        </p>
    </footer>
{% endblock %}