{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'resetting.title'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block fos_user_content %}
    <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
{% endblock %}
