parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: null
    database_user: null
    database_password: null
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt
    database_path: null
