{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
    '@DPUserBundle/Resources/public/css/connexion.css'
    '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less' 
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block baseBody %}
    <div class="login">
            <div class="login-header">
                <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
                <h1 id="titre">{% block title %}{% endblock %}</h1>
            </div>
            <div class="login-content">
                {% block fos_user_content %}{% endblock %}
            </div>
    </div>

    <footer>
        <p>
            DediPanel - Code & Design par Von et NiR<br /> 
            
            <a target="_blank" href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
            <a target="_blank" href="http://wiki.dedicated-panel.net">wiki</a> | 
            <a target="_blank" href="http://forum.dedicated-panel.net">forum</a>
        </p>
    </footer>
{% endblock %}