# (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

services:
    dp.webinstaller:
        class: "DP\Core\DistributionBundle\Configurator\Configurator"
        arguments: [ %kernel.root_dir% ]
