@font-face {
	font-family: 'icomoon';
	src:url('../bundles/dpcore/css/icomoon/fonts/icomoon.eot?ir2i67');
	src:url('../bundles/dpcore/css/icomoon/fonts/icomoon.eot?#iefixir2i67') format('embedded-opentype'),
		url('../bundles/dpcore/css/icomoon/fonts/icomoon.woff?ir2i67') format('woff'),
		url('../bundles/dpcore/css/icomoon/fonts/icomoon.ttf?ir2i67') format('truetype'),
		url('../bundles/dpcore/css/icomoon/fonts/icomoon.svg?ir2i67#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gamepad:before {
	content: "\e650";
}
.icon-cabinet:before {
	content: "\e600";
}
.icon-code:before {
	content: "\e601";
}
.icon-steam3:before {
	content: "\e602";
}
.icon-eye:before {
	content: "\e603";
}
.icon-pictures:before {
	content: "\e604";
}
.icon-speaker:before {
	content: "\e605";
}
.icon-modem:before {
	content: "\e606";
}
.icon-edit:before {
	content: "\e607";
}
.icon-user:before {
	content: "\e608";
}
.icon-logout:before {
	content: "\e609";
}
.icon-config:before {
	content: "\e60a";
}
.icon-mic:before {
	content: "\e60b";
}
.icon-headphone:before {
	content: "\e60c";
}
.icon-uni53:before {
	content: "\e60d";
}
.icon-minecraft:before {
	content: "\e60e";
}
.icon-monitor:before {
	content: "\e60f";
}
.icon-home:before {
	content: "\e610";
}
.icon-groupe:before {
	content: "\e611";
}
.icon-lock2:before {
	content: "\e612";
}
.icon-dedipanel:before {
	content: "\e613";
}
.icon-uni4C:before {
	content: "\30";
}
.icon-uni4B:before {
	content: "\e615";
}
.icon-home2:before {
	content: "\e616";
}
.icon-uni49:before {
	content: "\e617";
}
.icon-message:before {
	content: "\e618";
}
.icon-uni47:before {
	content: "\e619";
}
.icon-chat:before {
	content: "\e61a";
}
.icon-uni45:before {
	content: "\e61b";
}
.icon-uni44:before {
	content: "\e61c";
}
.icon-uni43:before {
	content: "\e61d";
}
.icon-uni42:before {
	content: "\e61e";
}
.icon-uni41:before {
	content: "\e61f";
}
.icon-uni40:before {
	content: "\e620";
}
.icon-github:before {
	content: "\e621";
}
.icon-github2:before {
	content: "\e622";
}
.icon-linux:before {
	content: "\e623";
}
.icon-uni3C:before {
	content: "\e624";
}
.icon-uni3B:before {
	content: "\e625";
}
.icon-stat:before {
	content: "\e626";
}
.icon-pie:before {
	content: "\e627";
}
.icon-uni38:before {
	content: "\e628";
}
.icon-uni37:before {
	content: "\e629";
}
.icon-unlock:before {
	content: "\e62a";
}
.icon-lock:before {
	content: "\e62b";
}
.icon-uni34:before {
	content: "\e62c";
}
.icon-uni33:before {
	content: "\e62d";
}
.icon-uni32:before {
	content: "\e62e";
}
.icon-uni31:before {
	content: "\e62f";
}
.icon-uni30:before {
	content: "\e630";
}
.icon-uni2F:before {
	content: "\e631";
}
.icon-uni2E:before {
	content: "\e632";
}
.icon-uni2D:before {
	content: "\e633";
}
.icon-uni2C:before {
	content: "\e634";
}
.icon-mouse:before {
	content: "\e635";
}
.icon-pic:before {
	content: "\e636";
}
.icon-uni29:before {
	content: "\e637";
}
.icon-statistique:before {
	content: "\e638";
}
.icon-restart:before {
	content: "\e639";
}
.icon-ftp:before {
	content: "\e63a";
}
.icon-uni25:before {
	content: "\e63b";
}
.icon-stop:before {
	content: "\e63c";
}
.icon-pause:before {
	content: "\e63d";
}
.icon-uni22:before {
	content: "\e63e";
}
.icon-option:before {
	content: "\e63f";
}
.icon-camera:before {
	content: "\e640";
}
.icon-resize:before {
	content: "\e641";
}
.icon-clock:before {
	content: "\e642";
}
.icon-bell:before {
	content: "\e643";
}
.icon-disk:before {
	content: "\e644";
}
.icon-users:before {
	content: "\e651";
}
.icon-users2:before {
	content: "\e652";
}
.icon-cogs:before {
	content: "\e653";
}
.icon-download:before {
	content: "\e645";
}
.icon-cancel-circle:before {
	content: "\e646";
}
.icon-checkmark-circle:before {
	content: "\e647";
}
.icon-spam:before {
	content: "\e648";
}
.icon-cross:before {
	content: "\e649";
}
.icon-checkmark:before {
	content: "\e64a";
}
.icon-plus2:before {
	content: "\e64b";
}
.icon-exit:before {
	content: "\e64c";
}
.icon-arrow-circle-left:before {
	content: "\e614";
}
.icon-console:before {
	content: "\e64d";
}
.icon-steam:before {
	content: "\e64e";
}
.icon-steam2:before {
	content: "\e64f";
}
.icon-simple-arrow-down:before {
	content: "\e654";
}
