@CHARSET "UTF-8";

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//	Auteur: DieseL
//	Date: 04/08/2010
//	login.css
//	Feuille de style CSS
//	Reproduction interdite, tous droits réservés.
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

* {
	margin: 0;
	padding: 0;	
}
body {
	background-color: #cacaca;
	font-size: 12pt;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: #1e1e1e;
}

/*Header*/
/*================================================================================*/

#header {
	width: 100%;
	height: 133px;
	background: url(../images/login/bg_header.png) repeat-x;	
}
#h_content {
	height: 119px;
	margin: auto;	
}
#logo {
	width: 327px;
	height: 119px;
	background: url(../images/login/logo.png);
	float: left;
}
#web a {
	margin-top: 40px;
	margin-right: 150px;
	width: 256px;
	height: 35px;
	background: url(../images/login/website.png) no-repeat;
	float: right;	
}

/*Body*/
/*================================================================================*/

#body {
	width: 450px;
	height: 234px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -225px;
	margin-top: -50px;
	background: url(../images/login/logbox.png) no-repeat;
}
#logbox {
	width: 450px;
	height: 234px;
	margin: 50px;	
}
#login {
	width: 368px;
	height: 55px;
	background: url(../images/login/login.png) no-repeat bottom;
	padding-left: 80px;
	margin-left: -55px;
	margin-top: 0px;
}
#mdp {
	width: 368px;
	height: 55px;
	background: url(../images/login/password.png) no-repeat bottom;
	padding-left: 80px;
	margin-left: -55px;
	margin-top: 10px;
}
#submit {
	width: 122px;
	height: 42px;
	margin: 6px 200px 0 auto;
}

/*Input's*/
/*================================================================================*/

input[type=text], input[type=password] {
	width: 241px;
	height: 47px;
	background: url(../images/login/input_text.png) no-repeat top;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0 0 10px 40px;
	border: 0;
	font-size: 11pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: #1e1e1e;
}
input[type=submit] {
	width: 119px;
	height: 41px;
	background: url(../images/login/input_submit.png) no-repeat;
	border: 0;
	cursor: pointer;
}
