@CHARSET "UTF-8";

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//	Auteur: DieseL
//	Date: 21/07/2010
//	main.css
//	Feuille de style CSS
//	Reproduction interdite, tous droits réservés.
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../images/body/bg.jpg) no-repeat top center #999999;
}

/*General Settings*/
/*================================================================================*/

h1 {
    color: #262626;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    padding: 0 0 0 50px;
    margin: 0;
    background: url('../images/other/h1.png') no-repeat;
    width: 572px;
    height: 34px;
    line-height: 32px;
    margin-bottom: 25px;
}
h2 {
    color: #333333;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}
h3 {
    color: #404040;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
hr {
    background: url('../images/other/hr.png') repeat-x;
    width: 50%;
}
p {
    color: #404040;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 11pt;
    text-align: justify;
}
a {
    color: #404040;
    font-weight: bold;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border:none;
}
em {
    font-size: 10pt;
    color: #000000;
}
label {
    font-weight: bold;
    font-size: 11pt;
    float: left;
    padding-right: 10px;
    padding-top: 3px;
    display:block;
    width:200px;
    color: #404040;
    font-family: "Myriad Pro", Arial, sans-serif;
}
input[type=text], input[type=password], input[type=button], select, textarea, input[type=submit] {
    background-color: #f8f8f8;
    border: 1px solid #999999;
    color: #000000;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 11pt;
    margin: 3px 0 3px 0;
}
input[type=submit]:hover {
    background-color: #999999;
}
li {
    list-style-type: square;
    color: #404040;
}
li a {
    font-weight: normal;
}
table {
    width: 85%;
}
table th {
    background-color: #333333;
    color: #ffffff;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    height: 36px;
}
table td {
    margin: 0;
    padding: 5px;
    height: 30px;
    border-bottom: 1px solid #c7c7c7;
    background-color: #ffffff;
    color: #000000;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    text-align: center;
}
table a {
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    font-size: 11pt;
    font-family: Arial, sans-serif;

}
table a:hover {
    text-decoration: none;
    color: blue;
}
pre.mumble {
    font-size: 10pt;
    overflow: scroll;
    width: 630px;
}
.paginator li {
    display: inline;
    margin: 10px;
    list-style-type: none;
}

/*Header*/
/*================================================================================*/

#header {
    background: url('../images/header/bg.png') repeat-x;
    width: 100%;
    height: 78px;
}
#header #header_content {
    margin: 0 auto;
    width: 926px;
}
#logo a {
    float: left;
    background: url('../images/header/logo.png') no-repeat;
    width: 208px;
    height: 44px;
    margin-top: 3px;
}
#header #speedbar {
    padding: 0 30px 0 40px;
    float: left;
}
#header #speedbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header #speedbar li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
#header #speedbar li .home {
    float: left;
    background: url('../images/header/speedbar_home.png') no-repeat;
    width: 50px;
    height: 50px;
}
#header #speedbar li .home:hover {
    float: left;
    background: url('../images/header/speedbar_home.png') 0px -50px no-repeat;
    width: 50px;
    height: 50px;
}
#header #speedbar li .help {
    float: left;
    background: url('../images/header/speedbar_help.png') no-repeat;
    width: 100px;
    height: 50px;
}
#header #speedbar li .help:hover {
    float: left;
    background: url('../images/header/speedbar_help.png') 0px -50px no-repeat;
    width: 100px;
    height: 50px;
}
#header #speedbar li .website {
    float: left;
    background: url('../images/header/speedbar_official.png') no-repeat;
    width: 120px;
    height: 50px;
}
#header #speedbar li .website:hover {
    float: left;
    background: url('../images/header/speedbar_official.png') 0px -50px no-repeat;
    width: 130px;
    height: 50px;
}
#header #speedbar li .bug {
    float: left;
    background: url('../images/header/speedbar_bug.png') no-repeat;
    width: 140px;
    height: 50px;
}
#header #speedbar li .bug:hover {
    float: left;
    background: url('../images/header/speedbar_bug.png') 0px -50px no-repeat;
    width: 150px;
    height: 50px;
}
#profil #img a {
    float: left;
    background: url('../images/header/profil.png') no-repeat;
    width: 60px;
    height: 44px;
}
#profil #img a:hover {
    float: left;
    background: url('../images/header/profil.png') 0px -50px no-repeat;
    width: 50px;
    height: 50px;
}
#profil, #profil a {
    color: #ffffff;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 10pt;
    text-decoration: none;
}
#profil a:hover {
    text-decoration: underline;
}
#profil #top {
    padding-top: 6px;
}

/*Body*/
/*================================================================================*/

#body {
    margin: 4% auto 0px auto;
    width: 1024px;
}
#tbody {
    margin: auto;
    background: url('../images/body/content/tbody.png') no-repeat;
    width: 1024px;
    height: 32px;
}
#fbody {
    margin: auto;
    background: url('../images/body/content/fbody.png') no-repeat;
    width: 1024px;
    height: 45px;
}
#body #corps {
    width: 1024px;
    height: 100%;
    min-height: 400px;
    background: url('../images/body/content/bg.png') repeat-y;
}
#body #m_left {
    float: left;
    width: 280px;
    margin-left: 50px;
    min-height: 300px;
    height: 100%;
}
#m_left .plugin {
    padding: 5px;
    margin: 0;
    display: block;
}
#m_left .plugin img {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
#m_left .plugin a {
    display: inline-block;
    width: 200px;
    height: 20px;
    vertical-align: middle;
    padding: 3px;
    text-decoration: none;
    font-size: 11pt;
}
#m_left .plugin a:hover {
    background: url('../images/body/menu/menu-back.png') no-repeat;
}
#body #content {
    margin-left: 320px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 658px;
    height: 100%;
}


/*Post-it*/
/*================================================================================*/

.postit {
    background: url('../images/other/postit.png') no-repeat;
    width: 252px;
    /*height: 142px;*/
    height: 182px;
    margin: 2px auto 0px auto;
    padding: 10px;
}
.postit .content {
    width: 232px;
}
.postit p {
    font-size: 10pt;
    font-weight: bold;
    font-family: "Myriad Pro", Arial, sans-serif;
    text-align: justify;
}
.postit a {
    font-size: 11pt;
}
.postit h3 {
    padding: 0;
    margin: 0;
    background: none;
    color: #404040;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Myriad Pro", Arial, sans-serif;
}

/*Footer*/
/*================================================================================*/

#footer {
    width: 299px;
    height: 29px;
    background: url('../images/footer/bg.png') no-repeat;
    margin: 0 auto 50px auto;
}

/*Serveur*/
/*================================================================================*/

#serveur_cadre {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    font-size: 1.2em;
    width: 570px;
}
div.serveur_viewer {
    width: 560px;
    height: 60px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}
#serveur_info {
    font-size: 18pt;
    font-weight: lighter;
    height: 50px;
    line-height: 17px;
    margin-left: 124px;
    margin-top: -72px;
    text-align: left;
    width: 150px;
}
#serveur_status {
    height: 50px;
    margin-left: 343px;
    margin-top: -40px;
    text-align: left;
    width: 220px;
}
.visu-serv {
    width: 560px;
    min-height: 130px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}
#serveur_cfg {
    font-size: 18pt;
    font-weight: lighter;
    height: 100px;
    margin-left: 180px;
    margin-top: -100px;
    text-align: left;
    width: 45px;
}
#serveur_score {
    margin-left: 240px;
    margin-top: -123px;
    text-align: left;
    width: 90%;
    color: #FFFFFF;
    font-family: Arial,sans-serif;
    font-size: 11pt;
}
.hr {
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
    width: 452px;
	background: url('../images/serveur/hr.png') no-repeat;
}
#tbl_serveur {
    border-bottom-style: none;
    border-bottom-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-top-style: none;
    border-top-width: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border-right-style: none;
    border-left-style: none;
    float: right;
    width: 320px;
    margin-top: -126px;
    margin-right: 10px;
}
#tbl_serveur th {
    background-attachment: scroll;
    background-color: #333333;
    background-image: none;
    background-position: 0 0;
    margin-bottom: 6px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-top: 5px;
    text-align: left;
    height: 25px;
    border-right-style: none;
    border-left-style: none;
}
#tbl_serveur td {
    border-bottom-color: #C7C7C7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 8px;
    height: 18px;
    border-right-style: none;
    border-left-style: none;
}
#tbl_serveur tr:hover {
    background-color: #1F1F1F;
}
#tbl_serveur tr:visited {
    color: #FFFFFF;
}
#etat_install_icone{
    float: left;
    line-height: 40px;
    margin-right: 10px;
}
#etat_install{
    color: #404040;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 11pt;
    text-align: justify;
    float: left;
    line-height: 13px;
}

/*Mumble*/
/*================================================================================*/

#slider_mumble {
    background: url('../images/mumble/viewer/background-slide.png') no-repeat;
    position: relative;
    overflow: visible;
    width: 572px;
    height: 98px;
    margin-left: 10px;
}

#slider_mumble .left_arrow,
#slider_mumble .rigth_arrow{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 98px;
    bottom: 0px;
    right: -24px;
    background:url('../images/mumble/viewer/arrow-rigth.png') no-repeat center;
}
#slider_mumble .rigth_arrow {
    left: -24px;
    background:url('../images/mumble/viewer/arrow-left.png') no-repeat center;
}

#cadre {
    width: 560px;
    height: 96px;
    position: absolute;
	overflow: hidden;
    left: 6px;
    border: 0px;
}
.slide_cadre{
    background: url('../images/mumble/viewer/background-cadre.png') no-repeat;
    width: 138px;
    height: 92px;
    float: left;
    margin-top: 3px;  
}
#mumble_info {
    font-size: 9pt;
    font-weight: lighter;
    height: 96px;
    line-height: 11px;
    margin-left: 55px;
    margin-top: 3px;
    text-align: left;
    width: 133px;
}
#cadre .slide_cadre p {
    font-size: 9pt;
    font-weight: lighter;
    margin-right: 53px;
    text-align: right;
    line-height: 0;
}
#mumble_info {
    font-size: 9pt;
    font-weight: lighter;
    height: 96px;
    line-height: 11px;
    margin-left: 55px;
    margin-top: 3px;
    text-align: left;
    width: 133px;
}
#mumble_info_installe {
    font-size: 9pt;
    font-weight: lighter;
    line-height: 1;
    margin-left: -50px;
    text-align: left;
}
.slide_cadre a:hover {
    background: url('../images/mumble/viewer/background-cadre-hover.png') no-repeat;
}

#visu-machine {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    font-size: 1.2em;
    width: 570px;
    position: static;
}
#mumble_slide_table {
    margin: auto;
    width: 571px;
}
#mumble_slide_table td{
    border-top: 1px solid #C7C7C7;
    border-bottom-style: none;
}
.mumble_server {
    text-align: left;
}
.mumble_line {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    white-space: nowrap;
    font-family: Tahoma, Helvetica;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
    float: left;
}
.mumble_line img {
    vertical-align: top;
    border-style: none;
}
.mumble_channel p{
    color: #404040;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 8pt;
    text-align: justify;
}
#infos_joueurs_rafraichir {
    font-size: 12px;
    text-align: right;
}
#serveurs_jeux_alias h3 {
    font-size: 14px;
}
#serveurs_jeux_alias p a {
    font-size: 12px;
}
#hltv {
    text-align: center;
}
.tool-tip {
    color: #fff;
    width: 139px;
    z-index: 13000;
    display: none;
}
.tip-title {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: url('images/ui-bg_tips.png') top left;
}
.tip-text {
    font-size: 13px;
    padding: 4px 8px 8px;
    background: url('images/ui-bg_tips.png') bottom right;
    color: white;
}
.tip-text a {
    color: white;
    font-weight: bold;
    font-size: 11px;
}
#logs-install h1, #dialog-edit-cfg h1, #edit-machine h1 {
    margin-left: 25px;
}
#logs-install textarea, #edit-cfg textarea {
    width: 500px;
    margin-left: 50px;
}
#config-panel {
    margin-top: 40px;
}
#test-connexion p {
    padding-bottom: 20px;
}
#add-machine h1, #edit-machine h1 {
    margin-top: 10px;
}
.infos {
    font-size: 13px;
    font-style: italic;
}
.erreurs {
    font-size: 14px;
    font-weight: bold;
}
.tooltip-content {
    display: none;
}

.img-map {
    width: 160px;
    height: 120px;
}

div.visu-serv {

}

.erreur {
    color: red;
}

.succes {
    color: green;
}