@charset "UTF-8";

html, body	{
    height: 100%;
}

body	{
    background: #fff;
    color: #393939;
    font-family: Arial;
    font-size: 0px;
    font-size:13px;
    line-height:19px;
	margin: 0;
    padding: 0;
}


/*** HEADER ***/
header {
    background-color: #2d2d2d;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 160px
}

#logo {
    background-image:url(../images/header/logo.png);
    background-repeat:no-repeat;
    width:290px;
    height:80px;
    margin-left: 20px;	
	float: left;
}

#profil	{
    float: right;
	margin-right: 5%;
}
#profil a	{
}
.profil-show	{
    cursor: pointer;
    margin: 10px 5px 0 5px;
}

/***** MENU *****/

.menu{
    background-image:url(../images/menu/bg-menu.png);
    background-repeat:repeat-x;
    height:57px;
}
.menu li{
    width: 170px;
    height: 57px;
    overflow: hidden;
	float: left;
    position: relative;
    display: block;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.menu li:last-child{
    margin-bottom: 0px;
}
.menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.icone{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 25px;
	color: #004a70;	
    position: absolute;
    left: 21px;
    text-align: center;
	top: 13px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.content{
    position: absolute;
    left: 65px;
	top: 10px
}
.main{
    font-size: 13px;
    line-height: 0;	
    color: #cbcbcb;	
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.sub{
    font-size: 9px;
    color: #2e2e2e;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.menu li:hover{
    background: #2e2e2e;
}
.menu li:hover .icone{
    font-size: 80px;
    color: #1279b0;
    opacity: 0.4;
    text-shadow: 0px 0px 13px #12638e;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.menu li:hover .main{
        opacity: 1;
        color:#2676ac;
        -webkit-animation: moveFromTop 300ms ease-in-out;
        -moz-animation: moveFromTop 300ms ease-in-out;
        -ms-animation: moveFromTop 300ms ease-in-out;
}
.menu li:hover .sub{
	color: #666;
	opacity: 1;
        -webkit-animation: moveFromBottom 300ms ease-in-out;
        -moz-animation: moveFromBottom 300ms ease-in-out;
        -ms-animation: moveFromBottom 300ms ease-in-out;
}
@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        opacity: 0;
        -ms-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

#mprofil {
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;
}
#mprofil li {
	margin: 0 5px;
	padding: 0 0 8px;
	position: relative;
	list-style: none;
}
#mprofil a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 30px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
}
#mprofil a:hover {
	color: #fff;
}

#mprofil ul a:hover {
	color: #fff !important;
}

#mprofil li:hover > ul {
	display: block;
}

#mprofil ul {
	display: none;
	background: #2d2d2d !important;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#mprofil ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#mprofil ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

#mprofil ul ul {
	left: 181px;
	top: -3px;
}
#mprofil:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#mprofil {
	display: inline-block;
} 

.iprofil{
    font-family: 'WebSymbolsRegular', cursive;
	font-size: 12px;
	position: absolute;
	left: 2px;
	text-align: center;
	top: 10px;
}
#mprofil li:hover .iprofil{
	font-size: 14px;
	color: #1279b0;
	opacity: 0.8;
	left: 5px;	
    text-shadow: 0px 0px 13px #12638e;
	top: 10px;
}

.ismprofil{
    font-family: 'WebSymbolsRegular', cursive;
	font-size: 12px;
	position: absolute;
	left: 2px;
	text-align: center;
	top: 10px;
}
#mprofil .sousmenu li:hover .ismprofil{
	font-size: 14px;
	color: #1279b0;
	opacity: 0.8;
	left: 5px;	
        text-shadow: 0px 0px 13px #12638e;
	top: 10px;
}

/*** Page (Style général) ***/
#page h1:first-child {
    color: #4b4b4b;
    font-family: Tahoma;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
	margin-left: 5%;
}

#page {
	width: 95%;
	margin: auto;
}

#page-content, #select-vm {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc; 
	box-shadow:0px 0 10px #ccc;
	margin: 20px;
}

#select-vm {
	padding: 15px 0 0 15px;
}

#page-content {
	min-height: 500px;
	padding: 8px 0 0 0;
}

/*** Footer ***/

footer {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
	margin: auto;
}

footer a:selected, footer a:hover{
    color: #000;
    text-decoration: none;
}

footer {
	padding: 3px 0px;
}

footer p img {
	margin-bottom: -10px;
}

footer p {
    text-align: center;
    color: #818181;	 
    font-size: 11px;
}


/*** Serveurs Steam ***/
.steam-server {
	min-height: 70px;
	border-bottom: 1px solid #e0e0e0;
	padding: 1px 2px 5px 3px;
}

.steam-server.clair {
	background-color: #ffffff;
}

.steam-server.dark {
	background-color: #f0f0f0;
}

/* Summary */
.steam-server .summary {
	height: 75px;
}

.steam-server .summary .infos {
	height: 60px;
	float: left;
	padding:10px
}

.steam-server .summary .infos img {
	float: left;
	margin-right: 10px;
}

.steam-server .summary .infos p {
	float: right;
}

.steam-server .summary .actions {
	float: right;
	padding: 15px;
}

.steam-server .summary .actions a {
	text-decoration: none;
}

.steam-server .summary .pourcentage{
	width: 60%;
	padding: 15px;
	float: right;
}

.clear {
	clear: both;
}

/* Details */
.steam-server .details {
	/*border: 5px solid green;*/
	/* display: none; */
	margin-left: 30px;
}

.steam-server .details p:nth-child(1) {
	min-width: 160px;
	min-height: 120px;
	width: 25%;
	float: left;
}

.steam-server .details .actions a {
	text-decoration: none;
}

.steam-server .details .players-list {
	float: left;
	width: 33%;
}

/* Player List (Steam Server) */
.steam-server .details table.players-list thead th {
    background-color: #333333;
    /*margin-bottom: 6px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-top: 5px;
    text-align: left;
    /*height: 25px;*/
	/*color: red;*/
	color: #FFFFFF;
	min-width: 100px;
}
.steam-server .details table.players-list tbody td {
    border-bottom-color: #C7C7C7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 8px;
    height: 18px;
}
.steam-server .details table.players-list tbody tr:hover {
    background-color: #1F1F1F;
	color: grey;
}

/*.steam-server .details table.players-list tr:visited {
    color: #FFFFFF; WTF ?
}*/

.steam-server#steam-20 .details{
	display: none;
}

.steam-server .details .actions{
	float: left;
	width: 42%;
	text-align: right;
	text-decoration: none;
}

/*** Edit ***/
#form-gauche { 
	float: left;
	width: 230px; 
}

#form-droit { 
	float: right;
	width: 405px;
}
	

/* =============================================================== */

a {
	color: #818181;
	text-decoration:none
}
a:hover {
	color: black;
	text-decoration: none;
}
label {	
	font-size: 20px;
	color: #666; 
}
#user-details { 
	float: left;
	width: 230px; 
}
select, input, textarea { 		
	padding: 8px; 
	margin: 4px 0 20px 0; 
	background: #fff; 
	width: 220px; 
	font-size: 14px; 
	color: #555; 
	border: 0.5px #ddd solid;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa; 
	box-shadow: 0px 0px 4px #aaa;	
	-webkit-transition: background 0.3s linear;							
}
select{ 		
	background: #fff; 
	width: 220px; 
	border: 1px #ddd solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}
textarea {		
	width: 390px; 
	height: 175px; 		 		
}

input[type='radio'], input[type='checkbox'] {
        opacity: 0;
        float: left;
        width: 1px;
}
input[type='radio'] + label, input[type='checkbox'] + label {
        margin: 0;
        clear: none;
        padding: 5px 0 4px 24px;
        cursor: pointer;
        background: url(../images/icones/form/off.png) left center no-repeat; 
}
input[type='radio']:checked + label, input[type='checkbox']:checked + label {
        background-image: url(../images/icones/form/check.png);
}	
input:hover, textarea:hover { 
	background: #eee; 
}	
input.submit { 	
	width: 150px; 
	color: #eee; 
	text-transform: uppercase; 
	margin-top: 10px;
	background-color: #0077b5;
	border: none;	
	-webkit-transition: -webkit-box-shadow 0.3s linear;		
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 						
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0077b5), to(#00507a)); 
	background: -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc);		
} 
input.submit:hover { 		
	-webkit-box-shadow: 0px 0px 20px #555;
	-moz-box-shadow: 0px 0px 20px #aaa; 
	box-shadow: 0px 0px 20px #555;	
	cursor:  pointer; 
}

fieldset {
	border: none; 
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
