{# Layout utilisé par le bundle FOSUserBundle #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
	<div id="logbox">{% block fos_user_content %}{% endblock %}</div>
{% endblock %}