@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

font-face {
	font-family: 'loops105';
	src:url('fonts/loops105.eot');
	src:url('fonts/loops105.eot?#iefix') format('embedded-opentype'),
		url('fonts/loops105.svg#loops105') format('svg'),
		url('fonts/loops105.woff') format('woff'),
		url('fonts/loops105.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-cabinet:before, .icon-code:before, .icon-analytics:before, .icon-eye:before, .icon-pictures:before, .icon-speaker:before, .icon-modem:before, .icon-untitled:before, .icon-untitled-2:before, .icon-untitled-3:before, .icon-untitled-4:before, .icon-untitled-5:before, .icon-untitled-6:before, .icon-untitled-7:before, .icon-untitled-8:before, .icon-untitled-9:before, .icon-untitled-10:before, .icon-untitled-11:before, .icon-untitled-12:before, .icon-untitled-13:before, .icon-untitled-14:before, .icon-untitled-15:before, .icon-untitled-16:before, .icon-untitled-17:before, .icon-untitled-18:before, .icon-untitled-19:before, .icon-untitled-20:before, .icon-untitled-21:before, .icon-untitled-22:before, .icon-untitled-23:before, .icon-untitled-24:before, .icon-untitled-25:before, .icon-untitled-26:before, .icon-untitled-27:before, .icon-untitled-28:before, .icon-untitled-29:before, .icon-untitled-30:before, .icon-untitled-31:before, .icon-untitled-32:before, .icon-untitled-33:before, .icon-untitled-34:before, .icon-untitled-35:before, .icon-untitled-36:before, .icon-untitled-37:before, .icon-untitled-38:before, .icon-untitled-39:before, .icon-untitled-40:before, .icon-untitled-41:before, .icon-untitled-42:before, .icon-untitled-43:before, .icon-untitled-44:before, .icon-untitled-45:before, .icon-untitled-46:before, .icon-untitled-47:before, .icon-untitled-48:before, .icon-untitled-49:before, .icon-untitled-50:before, .icon-untitled-51:before, .icon-untitled-52:before, .icon-untitled-53:before, .icon-untitled-54:before, .icon-untitled-55:before, .icon-untitled-56:before, .icon-untitled-57:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cabinet:before {
	content: "\5f";
}
.icon-code:before {
	content: "\5e";
}
.icon-analytics:before {
	content: "\6f";
}
.icon-eye:before {
	content: "\5d";
}
.icon-pictures:before {
	content: "\5c";
}
.icon-speaker:before {
	content: "\5b";
}
.icon-modem:before {
	content: "\5a";
}
.icon-untitled:before {
	content: "\59";
}
.icon-untitled-2:before {
	content: "\58";
}
.icon-untitled-3:before {
	content: "\57";
}
.icon-untitled-4:before {
	content: "\56";
}
.icon-untitled-5:before {
	content: "\55";
}
.icon-untitled-6:before {
	content: "\54";
}
.icon-untitled-7:before {
	content: "\53";
}
.icon-untitled-8:before {
	content: "\52";
}
.icon-untitled-9:before {
	content: "\51";
}
.icon-untitled-10:before {
	content: "\50";
}
.icon-untitled-11:before {
	content: "\4f";
}
.icon-untitled-12:before {
	content: "\4e";
}
.icon-untitled-13:before {
	content: "\4d";
}
.icon-untitled-14:before {
	content: "\4c";
}
.icon-untitled-15:before {
	content: "\4b";
}
.icon-untitled-16:before {
	content: "\4a";
}
.icon-untitled-17:before {
	content: "\49";
}
.icon-untitled-18:before {
	content: "\48";
}
.icon-untitled-19:before {
	content: "\47";
}
.icon-untitled-20:before {
	content: "\46";
}
.icon-untitled-21:before {
	content: "\45";
}
.icon-untitled-22:before {
	content: "\44";
}
.icon-untitled-23:before {
	content: "\43";
}
.icon-untitled-24:before {
	content: "\42";
}
.icon-untitled-25:before {
	content: "\41";
}
.icon-untitled-26:before {
	content: "\40";
}
.icon-untitled-27:before {
	content: "\3f";
}
.icon-untitled-28:before {
	content: "\3e";
}
.icon-untitled-29:before {
	content: "\3d";
}
.icon-untitled-30:before {
	content: "\3c";
}
.icon-untitled-31:before {
	content: "\3b";
}
.icon-untitled-32:before {
	content: "\3a";
}
.icon-untitled-33:before {
	content: "\39";
}
.icon-untitled-34:before {
	content: "\38";
}
.icon-untitled-35:before {
	content: "\37";
}
.icon-untitled-36:before {
	content: "\36";
}
.icon-untitled-37:before {
	content: "\35";
}
.icon-untitled-38:before {
	content: "\34";
}
.icon-untitled-39:before {
	content: "\33";
}
.icon-untitled-40:before {
	content: "\32";
}
.icon-untitled-41:before {
	content: "\31";
}
.icon-untitled-42:before {
	content: "\30";
}
.icon-untitled-43:before {
	content: "\2f";
}
.icon-untitled-44:before {
	content: "\2e";
}
.icon-untitled-45:before {
	content: "\2d";
}
.icon-untitled-46:before {
	content: "\2c";
}
.icon-untitled-47:before {
	content: "\2b";
}
.icon-untitled-48:before {
	content: "\2a";
}
.icon-untitled-49:before {
	content: "\29";
}
.icon-untitled-50:before {
	content: "\28";
}
.icon-untitled-51:before {
	content: "\27";
}
.icon-untitled-52:before {
	content: "\26";
}
.icon-untitled-53:before {
	content: "\25";
}
.icon-untitled-54:before {
	content: "\24";
}
.icon-untitled-55:before {
	content: "\23";
}
.icon-untitled-56:before {
	content: "\22";
}
.icon-untitled-57:before {
	content: "\21";
}
