@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-menu:before {
	content: "\21";
}
.icon-play:before {
	content: "\22";
}
.icon-pause:before {
	content: "\23";
}
.icon-stop:before {
	content: "\24";
}
.icon-wrench:before {
	content: "\25";
}
.icon-transfer:before {
	content: "\26";
}
.icon-record:before {
	content: "\27";
}
.icon-bars:before {
	content: "\28";
}
.icon-forward:before {
	content: "\29";
}
.icon-untitled:before {
	content: "\2a";
}
.icon-untitled-2:before {
	content: "\2b";
}
.icon-untitled-3:before {
	content: "\2c";
}
.icon-untitled-4:before {
	content: "\2d";
}
.icon-untitled-5:before {
	content: "\2e";
}
.icon-untitled-6:before {
	content: "\2f";
}
.icon-untitled-7:before {
	content: "\30";
}
.icon-untitled-8:before {
	content: "\31";
}
.icon-untitled-9:before {
	content: "\32";
}
.icon-untitled-10:before {
	content: "\33";
}
.icon-untitled-11:before {
	content: "\34";
}
.icon-untitled-12:before {
	content: "\35";
}
.icon-untitled-13:before {
	content: "\36";
}
.icon-untitled-14:before {
	content: "\37";
}
.icon-untitled-15:before {
	content: "\38";
}
.icon-untitled-16:before {
	content: "\39";
}
.icon-untitled-17:before {
	content: "\3a";
}
.icon-untitled-18:before {
	content: "\3b";
}
.icon-untitled-19:before {
	content: "\3c";
}
.icon-untitled-20:before {
	content: "\3d";
}
.icon-untitled-21:before {
	content: "\3e";
}
.icon-untitled-22:before {
	content: "\3f";
}
.icon-untitled-23:before {
	content: "\40";
}
.icon-untitled-24:before {
	content: "\41";
}
.icon-untitled-25:before {
	content: "\42";
}
.icon-untitled-26:before {
	content: "\43";
}
.icon-untitled-27:before {
	content: "\44";
}
.icon-untitled-28:before {
	content: "\45";
}
.icon-untitled-29:before {
	content: "\46";
}
.icon-untitled-30:before {
	content: "\47";
}
.icon-untitled-31:before {
	content: "\48";
}
.icon-untitled-32:before {
	content: "\49";
}
.icon-untitled-33:before {
	content: "\4a";
}
.icon-untitled-34:before {
	content: "\4b";
}
.icon-untitled-35:before {
	content: "\4c";
}
.icon-untitled-36:before {
	content: "\4d";
}
.icon-untitled-37:before {
	content: "\4e";
}
.icon-users:before {
	content: "\4f";
}
.icon-home:before {
	content: "\50";
}
.icon-activity:before {
	content: "\51";
}
.icon-cube:before {
	content: "\52";
}
.icon-credit-card:before {
	content: "\53";
}
.icon-headset:before {
	content: "\54";
}
.icon-microphone:before {
	content: "\55";
}
.icon-equalizer:before {
	content: "\56";
}
.icon-switch:before {
	content: "\57";
}
.icon-user:before {
	content: "\58";
}
.icon-pencil:before {
	content: "\59";
}
