{% extends "DPDistributionBundle:Configurator:layout.html.twig" %}

{% block content %}
    <h1>{{ 'configurator.final.title'|trans }}</h1>
    
    <p><a href="{{ path('_welcome') }}">{{ 'configurator.final.goWelcomePage'|trans }}</a></p>
{% endblock %}
