{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-installer.html.twig" %}

{% block content %}
    <h3>{{ 'configurator.final.title'|trans }}</h3>
    
    <p>
        {% autoescape false %}{{ 'configurator.final.modify_app_file'|trans({ '%urlRewrite%': path('dedipanel_installer_rewrite_front_script'), '%urlConnect%': path('_welcome') }) }}{% endautoescape %}<br />
    </p>
{% endblock %}
