{% extends "::layout-installer.html.twig" %}

{% block content %}
        <h3>{{ 'configurator.final.title'|trans }}</h3>
    
    <p>
        {{ 'configurator.final.modifyAppFile'|trans }}<br />
        <a href="{{ path('_welcome') }}">{{ 'configurator.final.goWelcomePage'|trans }}</a>.
    </p>
{% endblock %}
