{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-installer.html.twig" %}

{% block body %}
    <form action="{{ path('dedipanel_installer') }}" method="post">
        {{ form_widget(form) }}

        <input type="submit" value="{{ 'configurator.next'|trans }}" name="submit" class="btn btn-primary">
    </form>
{% endblock %}