<div class="symfony-block-steps">
    {% for i in 1..count %}

      {% if i == index + 1 %}
          <a class="current">{{ 'configurator.step'|trans }} {{ i }}</a>
      {% else %}
          <a>{{ 'configurator.step'|trans }} {{ i }}</a>
      {% endif %}

      {% if i != count %}
        &gt;
      {% endif %}
    {% endfor %}
</div>
