{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<div class="symfony-block-steps">
    {% for i in 1..count %}
        {% if i == step + 1 %}
            <a class="current">{{ 'configurator.step'|trans({'%id%': i}) }}</a>
        {% else %}
            <a>{{ 'configurator.step'|trans({'%id%': i}) }}</a>
        {% endif %}

        {% if i != count %}
            &gt;
        {% endif %}
    {% endfor %}
</div>
