<div class="step">
    {% for i in 1..count %}

      {% if i == index + 1 %}
          <a href="#" class="current">Step {{ i }}</a>
      {% else %}
          <a href="#">Step {{ i }}</a>
      {% endif %}

      {% if i != count %}
        <i class="icon-chevron-right"></i>
      {% endif %}
    {% endfor %}
</div>