{% extends "::layout.html.twig" %}
{% block title %}<a href="{{ path('machine') }}"><span class="titre">h</span></a>{{ 'machine.connectionTest'|trans }}{% endblock %}
{% block content %}
    <p>
        {% if result %}
            {{ 'machine.test.successful'|trans }}
        {% else %}
            {{ 'machine.test.failed'|trans }}
        {% endif %}
    </p>
{% endblock %}