{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'machine.connectionTest'|trans }}</h1>
    
    <p>
        {% if result %}
            {{ 'machine.test.successful'|trans }}
        {% else %}
            {{ 'machine.test.failed'|trans }}
        {% endif %}
    </p>
{% endblock %}